config global 'global'
	option enabled '0'
	option hot_reload '1'
	option log_level 'info'
	option log_lines '200'

config stun 'stun'
	list tcp_server 'fwa.lifesizecloud.com'
	list tcp_server 'global.turn.twilio.com'
	list tcp_server 'turn.cloudflare.com'
	list tcp_server 'stun.nextcloud.com'
	list tcp_server 'stun.freeswitch.org'
	list tcp_server 'stun.voip.blackberry.com'
	list tcp_server 'stun.sipnet.com'
	list tcp_server 'stun.radiojar.com'
	list tcp_server 'stun.sonetel.com'
	list tcp_server 'stun.telnyx.com'
	list tcp_server 'turn.cloud-rtc.com:80'
	list udp_server 'stun.miwifi.com'
	list udp_server 'stun.chat.bilibili.com'
	list udp_server 'stun.hitv.com'
	list udp_server 'stun.cdnbye.com'
	list udp_server 'stun.douyucdn.cn:18000'
	list udp_server 'fwa.lifesizecloud.com'
	list udp_server 'global.turn.twilio.com'
	list udp_server 'turn.cloudflare.com'
	list udp_server 'stun.nextcloud.com'
	list udp_server 'stun.freeswitch.org'
	list udp_server 'stun.voip.blackberry.com'
	list udp_server 'stun.sipnet.com'
	list udp_server 'stun.radiojar.com'
	list udp_server 'stun.sonetel.com'
	list udp_server 'stun.telnyx.com'

config instance 'default'
	option enabled '0'
	option protocol 'tcp'
	option network 'wan'
	option bind_value ''
	option route_slot '0'
	option bind_port '0'
	option public_ip_mode 'detected'
	option forward_method 'auto'
	option auto_firewall '0'
	option target_ip '0.0.0.0'
	option target_port '0'
	option keepalive_interval '15'
	option keepalive_server ''
	option completion_webhook_enabled '0'
	option completion_webhook_url ''
	option completion_webhook_timeout '8'
	option completion_webhook_method 'POST'
	option completion_webhook_headers 'Content-Type: application/json'
	option completion_webhook_body '{"event":"mapped","instance":"#{instance}","protocol":"#{protocol}","inner_ip":"#{inner_ip}","inner_port":#{inner_port},"outer_ip":"#{outer_ip}","outer_port":#{outer_port}}'
	option completion_webhook_success ''
	option completion_webhook_disable_success_check '1'
	option completion_webhook_skip_unchanged '0'
	option completion_script_enabled '0'
	option completion_script_inline ''
	option cloudflare_enabled '0'
	option cloudflare_api_url ''
	option cloudflare_api_token ''
	option cloudflare_zone_id ''
	option cloudflare_record_id ''
	option retry_target '0'
	option exit_when_changed '0'
	option upnp '0'
	option verbose '0'
	option qbittorrent_enabled '0'
	option qbittorrent_url 'http://127.0.0.1:8080'
	option qbittorrent_username ''
	option qbittorrent_password ''
	option qbittorrent_forward '0'
	option qbittorrent_target_ip ''
	option qbittorrent_target_port '0'
	option qbittorrent_forward_method 'nftables'
