config global 'global'
	option enabled '0'
	option log_level 'info'
	option log_lines '200'

config instance 'default'
	option enabled '0'
	option label 'Default'
	option runtime 'python'
	option protocol 'tcp'
	option network 'wan'
	option bind_value ''
	option bind_port '0'
	option public_ip_mode 'detected'
	option forward_method 'auto'
	option target_ip '0.0.0.0'
	option target_port '0'
	option keepalive_interval '15'
	option keepalive_server ''
	option notify_script ''
	option retry_target '0'
	option exit_when_changed '0'
	option upnp '0'
	option verbose '0'
	list stun_server 'fwa.lifesizecloud.com'
	list stun_server 'global.turn.twilio.com'
	list stun_server 'turn.cloudflare.com'
	option qbittorrent_enabled '0'
	option qbittorrent_url 'http://127.0.0.1:8080'
	option qbittorrent_username ''
	option qbittorrent_password ''
	option qbittorrent_forward '0'
	option qbittorrent_target_ip ''
	option qbittorrent_target_port '0'
	option qbittorrent_forward_method 'nftables'
